* {
    font-family: Ubuntu;
    font-size: 14px;
}

:root {
    --backgroundColor: #dde6eb;
    --backgroundBorderColor: #c1cfd8;
    --menuTextColor: #000000;
    --backgroundBrightness: 0.85;
    --backgroundLink: url(images/fordf150-1.png)
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.3);
}
#button1 {
    margin: 0;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    /* text-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2); */
    background: #a6d469;
    border: 0;
    border-bottom: 2px solid #749f34;
    cursor: pointer;
    box-shadow: inset 0 -2px #749f34;
    border-radius: 5px;
    font: 18px Ubuntu;
}

#button1:hover {
    margin-top: 1px;
    height: 39px;
    border-bottom: 1px solid #749f34;
}

#button1:active {
    margin-top: 2px;
    height: 38px;
    background: #749f34;
    border-bottom: 0;
    outline: none;
    box-shadow: none;
}
#coolText {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: var(--menuTextColor);
}
